.admin-dashboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.announcement {
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard-content {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dashboard-block {
  width: 200px;
  height: 150px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard-block:hover {
  background-color: #0056b3;
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.message {
  color: #d9534f;
  margin-top: 20px;
}
