html, body {
  height: 100%; /* Ensure full height for both html and body */
  margin: 0; /* Remove default margins */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
 /* background: url('public/images/background.png') no-repeat center center fixed; /* Add your background image */
  background-size: cover; /* Cover the whole screen */
  font-family: Arial, sans-serif;
  color: #fff; /* Optional: Change text color to white for better contrast */
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #fff; /* Light text color for better visibility on dark background */
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 2rem; /* Optional: Add margin to move options down */
}

.options a {
  margin: 0 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff; /* White text */
  background-color: #007bff; /* Bootstrap blue */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.options a:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
